<apex:page standardController="Lead" extensions="SmartyStreets1.LeadExtension" showHeader="true" sidebar="true"
           applyBodyTag="false" docType="html-5.0">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <head>
		<title>Edit Lead - SmartyStreets</title>
		<apex:stylesheet value="{!URLFOR($Resource.SmartyStreets1__SLDS0121, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
    <br/><br/>	
    </head> 
<body>
<div id="main" class="slds">
    <style>
        .slds img{
        	max-width: 100%;
        	height: 15px;
        }
        .ui-autocomplete {
      		padding: 0px;
     		margin: 0px;
      		list-style: none;
      		background-color: #fff;
      		width: 218px;
      		border: 1px solid #B0BECA;
      		max-height: 350px;
      		overflow-x: hidden;
    	}
    	.ui-autocomplete .ui-menu-item {
      		border-top: 1px solid #B0BECA;
      		display: block;
      		padding: 4px 6px;
      		margin: 0px;
      		color: #353D44;
      		cursor: pointer;
    	}
    	.ui-autocomplete .ui-menu-item:first-child {
      		border-top: none;
    	}
    	.ui-autocomplete .ui-menu-item.ui-state-focus {
      		background-color: #D5E5F4;
      		color: #161A1C;
    	}
    </style>
    
    <apex:pageMessages />
    
    <apex:detail inlineEdit="true" relatedList="false" title="true"/>
   
    <apex:form >
        <apex:actionFunction name="updateRecord" action="{!updateRecord}"/>
        <apex:actionFunction name="gotoView" action="{!view}"/>
        <apex:actionFunction name="saveFields" action="{!saveFields}" reRender="false">
            <apex:param name="primeCountry" value=""/>
        	<apex:param name="primeStreet" value=""/>
        	<apex:param name="primeCity" value=""/>
            <apex:param name="primeState" value=""/>
            <apex:param name="primeZip" value=""/>
        	<apex:param name="primeVerified" value=""/>
        	<apex:param name="primeVerDate" value=""/>
        	<apex:param name="primeSummary" value=""/>
            <apex:param name="primeCounty" value=""/>  
        </apex:actionFunction>
        <apex:actionFunction name="updateLocation" action="{!updateLocation}" reRender="false">
            <apex:param name="addressType" value=""/>
            <apex:param name="latitude" value=""/>
            <apex:param name="longitude" value=""/>
        </apex:actionFunction>
    </apex:form>
    
    <apex:includeScript value="{!$Resource.SmartyStreets1__jQuery}"/>
    <apex:includeScript value="{!$Resource.SmartyStreets1__jQueryUI}"/>
    <script src="//d79i1fxsrar4t.cloudfront.net/jquery.liveaddress/3.1/jquery.liveaddress.min.js"></script>
    <apex:includeScript value="{!$Resource.SmartyStreets1__SelectToAutocomplete}"/>
    <apex:includeScript value="{!$Resource.SmartyStreets1__footnoteDictionary}"/>
    
    <script>
    // Get the account data from SF now, since the .js files can't access the standardController
        var oldCountry = "{!JSENCODE(Lead.Country)}"; 
        var oldStreet = "{!JSENCODE(Lead.Street)}";
        var oldCity = "{!JSENCODE(Lead.City)}";
        var oldState = "{!JSENCODE(Lead.State)}";
        var oldZip = "{!JSENCODE(Lead.PostalCode)}";
    
        var leadName = "{!JSENCODE(Lead.LastName)}";
        var primeVerified = "{!Lead.Verified__c}";
        var primeVerDate = "{!JSENCODE(Lead.VerDate__c)}";
    	var primeSummary = "Not yet submitted for verification";
    	var primeCounty = "{!JSENCODE(Lead.SmartyStreets1__County__c)}";
        var secondVerified = "N/A";
        var secondVerDate = "N/A";
    	var secondCounty = "N/A";

        var key = "{!JSENCODE($Setup.SmartyStreets1__Settings__c.SmartyStreets1__Key__c)}";
    	var APImode = "{!JSENCODE($Setup.SmartyStreets1__Settings__c.SmartyStreets1__API_mode__c)}";
    	var interGeocodes = {!$Setup.SmartyStreets1__Settings__c.SmartyStreets1__InterGeocodes__c};
    	var version = "{!JSENCODE(version)}";
    
    	Sfdc.onReady(function(){
            if ({!refreshes} > 0)
            	updateRecord();
        });
    </script>
    
    <apex:includeScript value="{!$Resource.SmartyStreets1__lead}"/>
    <apex:includeScript value="{!$Resource.SmartyStreets1__common}"/>
    
    </div>
	</body>
	</html>
</apex:page>